.startcard{
    justify-content: center;
    margin: 0px 40px;
    align-items: center;
    margin-top: 50px;
    height: 130px;
    display: grid;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    background-color: rgb(146, 63, 63);
    color: white;
    
}
.mainpart{
    height: 82.5vh;
}

.st2{
    background-color: rgb(28, 147, 173);
}
.st3{
    background-color: rgb(63, 105, 8);
}
.st6{
    background-color: rgb(187, 31, 184);
}
.maindiv{
    background-image: url('../../images/background.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.maindiv h3{
    font-size: 20px;
}

@media (max-width:767px){

    .startcard{
        justify-content: center;
        margin: 0px 60px;
        align-items: center;
        margin-top: 80px;    
        height: 40px;
        display: grid;
        border-radius: 10px;
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
        transition: all 0.2s;
        background-color: rgb(146, 63, 63);
        color: white;
    }
    .startcard h3{
        font-size: 13px;
        justify-content: center;
        text-align: center;
        padding-top: 5px;
    }
  
    .st2{
        background-color: rgb(28, 147, 173);
    }
    .st3{
        background-color: rgb(63, 105, 8);
    }
    .st6{
        background-color: rgb(187, 31, 184);
    }
    .mainpart{
        height: 90vh;
    }
    .maindiv{
        background-image: url('../../images/background.jpg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        padding-bottom: 90px;
    }

}