
.tophead{
    text-align: center;
    padding-top: 20px;
}
.home{
    background-color: antiquewhite;
    padding-bottom: 40px;
}
.country{
    background-color: antiquewhite;
}
.countryname{
    text-align: center;
}
.countryval{
    color: red;
}

/* Media Query for Mobile Devices */
@media (max-width: 767px) {
   .tophead{
    font-size: 18px;
   }
   
}
  
